/*================ FONTS ============================*/

@font-face
{
    font-family: gothamUltra;
    src: url(../fonts/gothamFonts/gotham/Gotham-Ultra.otf);
}

@font-face
{
    font-family: gothamBlack;
    src: url(../fonts/gothamFonts/gotham/Gotham-Black.otf);
}

@font-face
{
    font-family: gothamMedium;
    src: url(../fonts/gothamFonts/gotham/Gotham-Medium.otf);
}

@font-face
{
    font-family: gothamLight;
    src: url(../fonts/gothamFonts/gotham/Gotham-Light.otf);
}

@font-face
{
    font-family: gothamXLight;
    src: url(../fonts/gothamFonts/gotham/Gotham-XLight.otf);
}

/*================================================*/

body
{
    font-family: gothamMedium, sans-serif;
    /*background-color: #57068C;*/
    background-color: black;
    color: white;
    font-size: 100%;
    overflow-x: hidden;
}

/*////// NO SCROLL BAR /////////*/
/*body::-webkit-scrollbar{
    display: none;
}*/

.nopadding
{
   padding: 0 !important;
   margin: 0 !important;
}

/*============== NAVBAR ======================*/

.navbar
{
    border: 0;
    font-size: 2em;
    outline: none;
    height: 70px;
}

/*
.navbar .container-fluid
{
    padding-left: 0;
    padding-right: 0;
}*/

.navbar-brand img
{
    width: 280px; 
    height: auto;
    outline: none;
}
/*
.navbar .navbar-nav
{
    display: block;
    float: none;
    vertical-align: top;
}*/

.navbar .navbar-nav li a
{
    color: white;
    padding-top: 25px;
    padding-bottom: 26px;
    outline: none;
    background-color: rgba(10, 10, 10, 0.7);
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li.active a
{
    background-color: #fff !important;
    color: #000 !important;
    outline: none;
}

.navbar-transparent 
{
    background-color: rgba(10, 10, 10, 0.7);
    outline: none;
}

.navbar-toggle
{
    border-style: none;
    padding: 10px;
    margin: 25px 15px 25px 0px;
}

/*#sae-navbar
{
    border-style: none;
    font-size: 20px;
}*/
/*
#sae-navbar li
{
    padding-left: 15px;
    padding-right: 15px;
}*/

/*===================================================================*/

#intro-section
{
    /*margin-top: 80px;*/
    background-image: url(../img/background/3_edited.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*#intro-section-wrapper
{
    position: relative;
    display: block;
    border: 10px solid red;
}*/

/*#intro-section-image
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}*/

#intro-section-tagline
{
    padding-top: 20em;
    padding-bottom: 5em;
}

#this-is
{
    color: black;
}

#this-is-line-1,
#this-is-line-2
{
    padding: 0 2em 0 3em;
    background-color: white;
    display: inline-block;
}

#this-is-line-1 h2,
#this-is-line-2 h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

#this-is-line-2 {margin-top: 2em;}

.purp {color: #57068C;}

#tagline-design
{
    margin-left: 67vw;
    background-color: #55058c;
}

#tagline-build
{
    margin-left: 72vw;
    background-color: #004f92;
}

#tagline-compete
{
    margin-left: 77vw;
    background-color: #009fe7;
}

#tagline-design,
#tagline-build,
#tagline-compete
{
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .5em;
    text-decoration: none;
    color: white;
    display: block;
    outline: none;

    -webkit-transition: width 1s;
    transition: transform 0.2s;
}

#tagline-design:hover,
#tagline-build:hover,
#tagline-compete:hover
{
    transform: scale(1.2); 
}

/*========================================================================*/

#first-section
{
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

#about h4 {line-height: 1.5em;}

#pic-break-1
{
    background-image: url(../img/background/2_original_edited.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#about-baja
{
    padding-top: 6em;
    padding-bottom: 6em;
    text-align: center;
}

#about-baja h1 {padding-bottom: 1em;}

#about-baja h4{line-height: 1.5em;}

.blueItUp {color: #01A0E9;}

#fa-university,
#fa-cogs,
#fa-tachometer,
#fa-users {font-size: 10em;}

/*#blog-section
{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../img/GearTrain.jpg);
    background-size: cover;
}

#blog-section-header
{
    text-align: center;
}*/

#second-section
{
    padding-top: 20em;
    padding-bottom: 10em;
    text-align: center;

    background-image: url(../img/team/team_cropped_edited.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 10%;
}

#second-section-header{
    padding-bottom: .5em;
}

#second-section-desc h4
{
    line-height: 1.5em;
    padding-bottom: 1em;
}

.btn-default:hover{
    background-color: white;
}

.greenLit {color: #7CC44E;}

#third-section
{
    text-align: center;
    background-color: #7CC44E;
    /*text-align: center;*/
}

#third-section a
{
    color: #FFFFFF;
    text-decoration: none;
    outline: none;
}

#third-section i {
    margin-top: 0.2em;
}

#second-section a:hover,
#third-section a:hover
{
    text-decoration: none;
    color: #57068C;
}

#contactInfo{
    text-align: left;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 3em;
}

#socialMedia{
    padding: 0;
    margin: 0;
}

/*==================== BACK TO TOP BTN ===================*/

/*#backToTopBtn{
    display: hidden;
    opacity: 0;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: black;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 5px;
    border-radius: 15px;
}

#backToTopBtn a{
    color: white;
    text-decoration: none;
}*/


/*============================ TEAM PAGE ==================================*/

#team-wrapper
{
    background-color: #57068C;
    /*padding-top: 100px;*/
    text-align: center;
    margin-top: 70px;
}

#team-header-wrapper
{
    background: url(../img/background/7.1.jpg);
    background-size: cover;
    background-position: center center;

    padding-top: 150px;
    padding-bottom: 100px;
    color: black;
}

#team-header-wrapper a
{
    color: #01A0E9;
}

#team-header-wrapper a:hover
{
    text-decoration: underline;
}

.team-section-header
{
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: underline;
}

.founder-desc h4{
    line-height: 150%;
}

.founder-desc a{
    color: #7CC44E;
}

.founder-desc a:hover{
    text-decoration: underline;
}

#founder2{
    padding-top: 4em;
}

.col-centered
{
    display: inline-block;
    float: none;
    /* inline-block space fix */
    margin-right: -4px;
}
/*
#team-people
{
    padding-top: 20em;
}*/

/*#founders-title
{
    text-align: center;
    font-weight: bold;
}
*/
/*#second-section-header
{
    text-align: center;
    font-weight: bold;
}*/

/*#image-break-1
{
    height: 650px;
    background-image: url(../img/1.JPG);
    background-size: cover;
}*/

/*.biopadding
{
    padding-top: .5em;
    padding-bottom: .5em;
}*/


/*.mapwrapper
{
    height: 350px;
}
*/
/*#map
{
    height: 100%;
    width: 100%;
    color: #000;
    z-index: 0;
}*/
/*
#map-metrotech
{
    height: 100%;
    width: 100%;
    color: #000;
    z-index: 0;
}*/
/*
#si-makerspace-img img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
*/


/*============== RESPONSIVE AND STUFF ==============*/

@media screen and (min-width: 319px)
{
    #contactInfo{
        background-color: blue;
    }/*#intro-section-tagline
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #intro-section-tagline h1
    {
        font-size: 20px;
    }

    #tagline-design-wrapper
    {
        margin-left: 40vw;
    }

    #tagline-build-wrapper
    {
        margin-left: 45vw;
    }

    #tagline-compete-wrapper
    {
        margin-left: 50vw;
    }

    #sae-header h3
    {
        font-size: .75rem;
    }

    #first-section
    {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    #first-section img
    {
        max-width: 250px;
    }

    #pic-break-1
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #this-is
    {
        margin-bottom: -2em;
    }*/
}

@media screen and (min-width: 380px)
{
    #contactInfo{
        background-color: red;
    }

    #intro-section {
        margin-top: 70px;
        background-position: center -1000%;
    }

    #intro-section-tagline
    {
        padding-top: 5em;
        padding-bottom: 2em;
    }

    h1 {font-size: 2em;}

    h2 {font-size: 1.625em;}

    h3 {font-size: 1.375em;}

    h4 {font-size: 1.125em;}

    #this-is
    {
        padding-top: 2em;
    }

    #this-is-line-1,
    #this-is-line-2
    {
        padding-right: 1em;
        padding-left: 2em;
    }

    #first-section
    {
        padding-top: 4em;
    }

    #pic-break-1
    {
        height: 300px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 8em;
        height: 400px;
        background-position: center 70%;
    }

    #fa-users{ font-size: 60px; }

    #third-section
    {
        padding-top: 1em;
        padding-bottom: 3em;
    }

    /*#intro-section-tagline
    {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #intro-section-tagline h1
    {
        font-size: 20px;
    }

    #tagline-design-wrapper
    {
        margin-left: 45vw;
    }

    #tagline-build-wrapper
    {
        margin-left: 50vw;
    }

    #tagline-compete-wrapper
    {
        margin-left: 55vw;
    }

    #sae-header h3
    {
        font-size: .75rem;
    }

    #first-section
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #first-section img
    {
        max-width: 250px;
    }

    #pic-break-1
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #this-is
    {
        margin-bottom: -3em;
    }*/
}

@media screen and (min-width: 572px)
{

    .navbar .navbar-nav li a
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #intro-section {
        margin-top: 70px;
        background-position: center -1000%;
    }

    #intro-section-tagline
    {
        padding-top: 5em;
        padding-bottom: 2em;
    }

    h1 {font-size: 20px;}

    h2 {font-size: 13px;}

    h3 {font-size: 13px;}

    h4 {font-size: 12px;}

    #this-is
    {
        padding-top: 2em;
    }

    #this-is-line-1,
    #this-is-line-2
    {
        padding-right: 1em;
        padding-left: 2em;
    }

    #first-section
    {
        padding-top: 4em;
    }

    #pic-break-1
    {
        height: 350px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 8em;
        height: 500px;
        background-position: center 70%;
    }

    #fa-users{ font-size: 70px; }

    #third-section
    {
        padding-top: 1em;
        padding-bottom: 3em;
    }

    /*#intro-section-tagline
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #intro-section-tagline h1
    {
        font-size: 28px;
    }

    #tagline-design-wrapper
    {
        margin-left: 45vw;
    }

    #tagline-build-wrapper
    {
        margin-left: 50vw;
    }

    #tagline-compete-wrapper
    {
        margin-left: 55vw;
    }

    #sae-header h3
    {
        font-size: 1 rem;
    }

    #first-section
    {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #first-section img
    {
        max-width: 300px;
    }

    #pic-break-1
    {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    #this-is
    {
        margin-bottom: -5em;
    }*/

    #contactInfo{
        background-color: grey;
    }

    #socialMedia {
        font-size: 7px;
    }
}



@media screen and (min-width: 768px)
{

    .navbar .navbar-nav li a
    {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    
    #intro-section {
        margin-top: 70px;
        background-position: center -1000%;
    }

    #intro-section-tagline
    {
        padding-top: 6em;
        padding-bottom: 3em;
    }

    h1 {font-size: 25px;}

    h2 {font-size: 18px;}

    h3 {font-size: 16px;}

    h4 {font-size: 14px;}

    #this-is
    {
        padding-top: 3em;
    }

    #this-is-line-1,
    #this-is-line-2
    {
        padding-right: 1em;
        padding-left: 2em;
    }

    #first-section
    {
        padding-top: 4em;
    }

    #pic-break-1
    {
        height: 400px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 8em;
        height: 400px;
        background-position: center 70%;
    }

    #third-section
    {
        padding-top: 1em;
        padding-bottom: 3em;
    }
    
    /*#intro-section
    {
        margin-top: 80px;
        background-position: center -1000%;
    }

    #intro-section-tagline h1
    {
        font-size: 30px;
    }

    #intro-section-tagline h2
    {
        font-size: 25px;
    }

    #intro-section-tagline
    {
        padding-top: 10em;
        padding-bottom: 3em;
    }

    #tagline-design-wrapper
    {
        margin-left: 46vw;
    }

    #tagline-build-wrapper
    {
        margin-left: 51vw;
    }

    #tagline-compete-wrapper
    {
        margin-left: 56vw;
    }

    #this-is
    {
        padding-top: 2.5em;
    }

    #first-section
    {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    #first-section h4{
        font-size:  17px;
    }

    #pic-break-1
    {
        height: 400px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 8em;
        padding-bottom: 4em;        
        background-position: center 70%;
    }*/

    #contactInfo{
        background-color: green;
    }
}


@media screen and (min-width: 992px)
{   
    #intro-section {margin-top: 70px;

        background-position: center;}

    #intro-section-tagline
    {
        padding-top: 6em;
        padding-bottom: 3em;
    }

    h1 {font-size: 30px;}

    h2 {font-size: 23px;}

    h3 {font-size: 19px;}

    h4 {font-size: 16px;}

    #this-is
    {
        padding-top: 3em;
    }

    #this-is-line-1,
    #this-is-line-2
    {
        padding-right: 1em;
        padding-left: 2em;
    }

    #first-section
    {
        padding-top: 4em;
    }

    #pic-break-1
    {
        height: 450px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 10em;
        height: 450px;
        background-position: center 70%;
    }

    #third-section
    {
        padding-top: 1em;
        padding-bottom: 3em;
    }

    /*#intro-section

    #intro-section-tagline h1
    {
        font-size: 3em;
    }

    #intro-section-tagline h2
    {
        font-size: 2em;
    }

    #intro-section-tagline
    {
        padding-top: 6em;
        padding-bottom: 2em;
    }

    #tagline-design-wrapper
    {
        margin-left: 53vw;
    }

    #tagline-build-wrapper
    {
        margin-left: 58vw;
    }

    #tagline-compete-wrapper
    {
        margin-left: 63vw;
    }

    #this-is
    {
        padding-top: 6em;
    }

    #first-section
    {
        padding-top: 5em;
        padding-bottom: 3em;
    }

    #pic-break-1
    {
        height: 450px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 8em;
        padding-bottom: 4em;        
        background-position: center;
    }

    #third-section
    {
        padding-top: 0em;
        padding-bottom: 2em;
    }

    #third-section h1{
        font-size: 2em;
    }
    #third-section h3{
        font-size: 1.5em;
    }*/

    #contactInfo{
        background-color: black;
        text-align: left;
    }

}



@media screen and (min-width: 1200px)
{
    #intro-section
    {
        margin-top: 70px;
    }

    #intro-section-tagline
    {
        padding-top: 8em;
        padding-bottom: 3em;
    }

    h1 {font-size: 35px;}

    h2 {font-size: 28px;}

    h3 {font-size: 22px;}

    h4 {font-size: 18px;}

    /*#tagline-design-wrapper
    {
        margin-left: 60vw;
    }

    #tagline-build-wrapper
    {
        margin-left: 65vw;
    }

    #tagline-compete-wrapper
    {
        margin-left: 70vw;
    }*/

    #this-is
    {
        padding-top: 5em;
    }

    #this-is-line-1,
    #this-is-line-2
    {
        padding-right: 1em;
        padding-left: 2em;
    }

    #first-section
    {
        padding-top: 5em;
    }

    #pic-break-1
    {
        height: 500px;
        background-position: 60%;
    }

    #second-section
    {
        padding-top: 15em;
        height: 500px;
        background-position: center 70%;
    }

    #third-section
    {
        padding-top: 1em;
        padding-bottom: 3em;
    }

    #contactInfo{
        background-color: purple;
    }
    
}

@media screen and (min-width: 1500px)
{
    #intro-section
    {
        margin-top: 70px;
    }

    #intro-section-tagline
    {
        padding-top: 10em;
        padding-bottom: 4em;
    }

    h1 {font-size: 40px;}

    h2 {font-size: 33px;}

    h3 {font-size: 25px;}

    h4 {font-size: 20px;}

    #sae-navbar
    {
        font-size: 1.2em;
    }

    #this-is
    {    
        padding-top: 15em;
    }

    #pic-break-1
    {
        height: 650px;
        background-position: 70%;
    }

    #second-section
    {
        padding-top: 25em;
        height: 670px;
    }

    #contactInfo{
        background-color: pink;
    }
}
