*{
	box-sizing: border-box;
}

.container{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

[class *= "col-"] {
    float: left;
    padding: 1%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,{
	display: inline;
	float: left;
	margin-right: 13px;
	margin-left: 13px;
}

.container .col-1 {width: 8.33%;}
.container .col-2 {width: 16.66%;}
.container .col-3 {width: 25%;}
.container .col-4 {width: 33.33%;}
.container .col-5 {width: 41.66%;}
.container .col-6 {width: 50%;}
.container .col-7 {width: 58.33%;}
.container .col-8 {width: 66.66%;}
.container .col-9 {width: 75%;}
.container .col-10 {width: 83.33%;}
.container .col-11 {width: 91.66%;}
.container .col-12 {width: 100%;}

